@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.title {
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------
---------       intro      ---------
------------------------------------*/
.intro {
  background: linear-gradient(to bottom right, #2480e9, #98caee);
  padding: 50px 0;
}

.intro__photo {
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 30px 0px #eee;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.intro__photo img {
  border-radius: 50%;
  object-fit: contain;
  width: 100%;
}

.intro__desc {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 3px #888;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  word-spacing: 0.1em;
  margin-top: 20px;
}

.intro__desc p {
  margin-top: 20px;
}

.intro__contact-me {
  background-color: #fff;
  border-radius: 20px;
  color: #4c99f0;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  margin-top: 50px;
  padding: 20px 30px;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.intro__contact-me:hover {
  background-color: #2480e9;
  box-shadow: 2px 2px 10px 0 #2480e9;
  color: #fff;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

/*----------------------------------
-------       about-me      --------
------------------------------------*/
.about-me {
  background-color: #eee;
  padding: 50px 0;
}

/*----------------------------------
---------      resume     ----------
------------------------------------*/
.resume {
  background-color: #fff;
  padding: 50px 0;
}

/*----------------------------------
--------      portfolio     --------
------------------------------------*/
.portfolio {
  background-color: #eee;
  padding: 50px 0;
}

/*----------------------------------
------      certificates     -------
------------------------------------*/
.certificates {
  background-color: #fff;
  padding: 50px 0;
}

.certificates__row {
  display: flex;
  flex-wrap: wrap;
}

.certificates__cert {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 30px;
  padding: 10px;
  width: calc(50% - 20px); /* must be calc( 50% - [.certificates__cert:nth-child(2n)].margin-left / 2 ) */
  transition: border-color 0.2s, box-shadow 0.2s;
}

.certificates__cert:hover {
  border-color: #2480e9;
  box-shadow: 0px 0px 10px 0 #2480e9;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.certificates__cert:nth-child(2n) {
  margin-left: 40px;
}

.cert__title {
  color: #000;
  font-size: 25px;
  margin: 5px 0;
}

.cert__date {
  color: #555;
  font-size: 22px;
  font-style: italic;
  margin: 20px 0;
}

.cert__photo {
  margin: auto 0;
}
.cert__photo img {
  width: 100%;
  object-fit: contain;
}

/*----------------------------------
---------      footer     ----------
------------------------------------*/
.footer {
  background: linear-gradient(to bottom, #98caee, #2480e9);
  padding: 20px 0;
}

/*----------------------------------
---------      media      ----------
------------------------------------*/
@media (max-width: 767px) {
  .certificates__cert {
    width: 100%;
  }

  .certificates__cert:nth-child(2n) {
    margin-left: 0;
  }
}
